/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-spacing: 2px; 
}

html {
    font-size: 20px;
    background-color: var(--culoare-fundal-site);
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: var(--culoare-fundal-site);
    --spatiere-pagina: 2vw;
    --padding-sectiune: 1vw;
    --culoare-fundal-inchis: #C886FF;
    --culoare-fundal-site: white;
    --culoare-scris-1: #002561;
    --culoare-scris-2: white;
    --culoare-scris: #002561;
    --culoare-meniu: #295ca9;
    --culoare-secundara-1: #055b5d;
    --culoare-secundara-2: #00a1a9;
    --culoare-autohton-fundal: #faad19;
    --culoare-autohton-scris: #797f8a;
    --culoare-tabel-par: #f3f3f3;
    --culoare-produs-margine:#295ca9;
}

body.dark {
    --culoare-fundal-inchis: #C886FF;
    --culoare-fundal-site: #002561;
    --culoare-scris-1: white;
    --culoare-scris-2: #002561;
    --culoare-scris: #295ca9;
    --culoare-meniu: #002561;
    --culoare-secundara-1: #055b5d;
    --culoare-secundara-2: #00a1a9;
    --culoare-autohton-fundal: #faad19;
    --culoare-autohton-scris: #797f8a;
    --culoare-tabel-par: #f3f3f3;
    --culoare-produs-margine:#3A82F0;
}

body.autohton {
    --culoare-fundal-inchis: #C886FF;
    --culoare-fundal-site: #797f8a;
    --culoare-scris-1: #faad19;
    --culoare-scris-2: #002561;
    --culoare-scris: #faad19;
    --culoare-meniu: #797f8a;
    --culoare-secundara-1: #faad19;
    --culoare-secundara-2: #00a1a9;
    --culoare-autohton-fundal: #faad19;
    --culoare-autohton-scris: #797f8a;
    --culoare-tabel-par: #f3f3f3;
    --culoare-produs-margine:#FFDD19;
}

body {
    color: var(--culoare-scris-1);
    padding-left: var(--spatiere-pagina);
    padding-right: var(--spatiere-pagina);
    max-width: 450px;
    margin: 0;
    overflow-x:hidden;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.LDRS{
    font-family: 'Bebas Neue', cursive;
}

#grid-pagina>* {
    border: 3px solid var(--culoare-secundara-1);
    padding: var(--padding-sectiune);
    
}

#grid-pagina {
    align-items: stretch;
    display: grid;
    width: calc(100vw - var(--spatiere-pagina) - 3vw);
    justify-content: center;
    max-width: 100vw;
    min-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "z-cover z-cover z-cover"
        "z-galerie z-tabel z-anunturi"
        "z-utilizatori z-tabel z-anunturi"
        "z-utilizatori z-statistici z-info"
        "z-viziune z-scopul z-produsele-noastre"
        "z-intrebari z-autohton z-autohton"
    ;
    gap: 1vw 1vw;
}

.taburi-iframe {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    text-align: center;
}

.iframe{
    width: fit-content;
    height: auto;
    scale:auto;
}

#cover {
    grid-area: z-cover;
    width: fit-content;
    height: auto;

}
#poza-cover{
    width: 100%;
    height: auto;
}
#galerie {
    grid-area: z-galerie
}

#tabel {
    grid-area: z-tabel;
}

#anunturi {
    grid-area: z-anunturi;
}

#utilizatori {
    grid-area: z-utilizatori;
}

#statistici {
    grid-area: z-statistici;
}

#info {
    grid-area: z-info;
}

#viziune {
    grid-area: z-viziune;
}

#produsele-noastre {
    grid-area: z-produsele-noastre;
}

#intrebari {
    grid-area: z-intrebari;
}

.autohton {
    grid-area: z-autohton;
    color: var(--culoare-autohton-scris);
}

#scopul {
    grid-area: z-scopul;
}

.autohton-font {
    color: var(--culoare-autohton-fundal);
    font-weight: bold;
}

.autohton-culoare {
    color: var(--culoare-autohton-fundal);
}

body {
    color: var(--culoare-scris);
}

#viziune-picture{
    width: fit-content;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.butoane-iframe {
    background-color: var(--culoare-autohton-scris);
    color: var(--culoare-autohton-fundal);
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 2px 7px;
    border-radius: 6px;
    transition-duration: 0.3s;
    font-family: 'Bebas Neue', cursive;
}

.butoane-iframe:hover {
    background-color: var(--culoare-autohton-fundal);
    color: var(--culoare-autohton-scris);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--culoare-scris-1);
    font-family: 'Bebas Neue', cursive;
}

p,summary,b,figcaption{
    color: var(--culoare-scris-1);
}

#buton-sus {
    position: fixed;
    display: inline-block;
    bottom: 0.25vh;
    right: 0.25vw;
    background-color: transparent;
    border: 5px solid var(--culoare-scris);
    color: var(--culoare-scris);
    padding: 2px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 100%;
    height: 5vh;
    width: 5vh;
    opacity: 50%;
    transition-duration: 0.7s;
    text-align: center;
}

#buton-sus:hover {
    opacity: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

#buton-sus:hover .tooltiptext {
    visibility: visible;
}


#buton-sus .tooltiptext {
    vertical-align: text-bottom;
    top: -50px;
    right: 10%;
    visibility: hidden;
    width: 100px;
    height: 20px;
    background-color: var(--culoare-scris);
    color: var(--culoare-fundal-site);
    border-radius: 6px;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 120%;
    font-family: 'Bebas Neue', cursive;
}



.continut-tabel {
    caption-side: bottom;
    margin: 1vw 0;
    font-size: 1vw;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
    border-spacing: 2px 2px;
    overflow-x:hidden;
}

.continut-tabel thead tr {
    background-color: var(--culoare-scris);
    color: var(--culoare-fundal-site);
    text-align: left;
    font-weight: bold;

}

.continut-tabel th,
.continut-tabel td {
    padding: 1vw 1vh;
    vertical-align: middle;
}

.continut-tabel tbody tr {
    border-bottom: 1px solid var(--culoare-autohton-scris);
}

.continut-tabel tbody tr:nth-of-type(even) {
    background-color: var(--culoare-tabel-par);
}

.continut-tabel tbody tr:last-of-type {
    border-bottom: 5px solid var(--culoare-scris);
}

#tabel tr:hover {
    color: var(--culoare-tabel-par);
    background-color: var(--culoare-scris);
}

a {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0%;
}


a.link:hover {
    background-size: 100%;
    color: pink;
    background-image: radial-gradient(#02979c85 40%, #8fd5cf00 80%, #8fd5cf00 100%);
    background-size: 100%;
    transition: all 1s linear;
}


a.link:active {
    border: 1px solid red;
    color: white;
    transition: all 0.5s linear;
}

a.link[href^="http"]::before {
    content: "⮳";
    font-size: 1.5rem;
}

a.link[href^="http"]:hover::before {
    color: blue;
    transition: color 0.35s linear;
}



.hr-new5 {
    background: linear-gradient(50deg, var(--culoare-autohton-fundal) 10%,
     var(--culoare-scris) 10%, var(--culoare-secundara-2) 10%, var(--culoare-secundara-1) 90%);
    height: 10px;
}

.LDRS_poza{
    width: 50vw;
    height: auto;
}