<header>
    <h1>
        LEADERS Store
    </h1>

</header>
<nav>   
    </label>
    <label class="hamburger-menu">
        <input type="checkbox">
        </label>
    </label>
    <ul class="meniu">
        <li>
            <a href="#" id="acasa" class="meniu-principal">Acasă
            </a>
            <div id="acasa-mediu"><spam class="fa fa-home"></samp></div>
            <ul>
                <li class="sub-meniu">
                    <a href="#viziune"><span class="sageata">&#10230</span>Viziune</a>
                </li>
                <li class="sub-meniu">
                    <a href="#scopul"><span class="sageata">&#10230</span>Scop</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#produsele-noastre" class="meniu-principal">
                <div>Produse</div>
                <ul>
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?tip=cofetarie">Prajituri</a></li>   
                    <li><a href="/produse?tip=gelaterie">Înghetata</a></li>   
                    <li><a href="/produse?tip=patiserie">Patiserie</a></li> 
                    <!--aici pun for in esj si unnset-->  
                </ul>
            </a>
        </li>
        <li>
            <a href="#autohton" class="meniu-principal">Autohton</a>
        </li>
        <li>
            <a href="#intrebari" class="meniu-principal">Întrebări</a>
        </li>
    </ul>
</nav>