<header>
    <h1>
        LEADERS Store
    </h1>

</header>
<nav>
    <label id="hamburger" for="ch-menu">
        <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
    </label>
    <input id="ch-meniu" type="checkbox">
    <ul class="meniu">
        <li>
            <a href="#" id="acasa">Acasă
            </a>
            <div id="acasa-mediu"><spam class="fa fa-home"></samp></div>
            <ul>
                <li class="sub-meniu">
                    <a href="#viziune"><span class="sageata">&#10230</span>Viziune</a>
                </li>
                <li class="sub-meniu">
                    <a href="#scopul">Scop</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#produsele-noastre">
                Produse
            </a>
        </li>
        <li>
            <a href="#autohton">Autohton</a>
        </li>
        <li>
            <a href="#intrebari">Întrebări</a>
        </li>
    </ul>
</nav>